
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
:root {
    --cor-nav: #f06cc1;
}

header {
    background-image: linear-gradient(to right bottom, #f83cb7, #f06cc1, #e78ec9, #deabce, #d4c6d0);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: rgb(0, 0, 0);
}
nav {
    width: 100%;
    background-color: var(--cor-nav);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav button {
    border-radius: 5rem;
    background-color: #d8d8d8d5;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}

/* Estilo da primeira div */
.primeira {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.primeira img {
    border-radius: 2rem;
    width: 20rem;
    margin-right: 20rem;
    margin-left: 5rem;
}

.primeira p {
    max-width: 50%;
    margin: 0 auto;
}

/* Estilo da segunda div */
.segunda {
    background-image: linear-gradient(to right bottom, #f83cb7, #f06cc1, #e78ec9, #deabce, #d4c6d0);
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.segunda img {
    border-radius: 2rem;
    width: 20rem;
    height: 10rem;
    margin-right: 5rem;
    margin-left: 8rem ;
}

.segunda p {
    max-width: 20rem;
}

/* Estilo da terceira div */
.terceira {
    background-image: linear-gradient(to right bottom, #f83cb7, #f06cc1, #e78ec9, #deabce, #d4c6d0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.terceira img {
    border-radius: 2rem;
    width: 18rem; 
    height: 18rem; 
    margin-top: 1rem; 
}

footer {
    background-color: #F5F7F8; /* Cor de fundo do rodapé */
    color: #45474B; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    padding: 0; /* Espaçamento interno */
    width: 100%; /* Largura total da página */

    bottom: 0; /* Alinha ao fundo da página */
    font-size: 1rem; /* Tamanho da fonte */
}